<div class="background-grey">
  <div class="row container-custom">
    <div class="col-lg-3">
      <div class="card text-center text-sm-center text-md-left text-lg-left text-xl-left d-md-none d-lg-none d-xl-none">
        <div class="card-body filters-cards"><h4><strong><a href="#" (click)="showFiltersActions()">Filtrar <i [hidden]="!displayHotelSearch" class="fa fa-caret-down "></i></a></strong>
        </h4></div>
      </div>
      <a href="#" class="filters-style-color" (click)="showFiltersActions()">
        <div class="card text-center text-sm-center text-md-left text-lg-left text-xl-left d-none d-sm-none d-md-block d-lg-block d-xl-block">
          <div class="card-body filters-cards"><h4><strong>Filtros</strong>
          </h4></div>
        </div>
      </a>
      <div *ngIf="showFilters">
        <!--<div class="card d-sm-none d-none d-md-none d-lg-block">-->
        <div class="card">
          <div class="card-body filters-cards">
            <div class="row display-block">
              <a href="#" (click)="displayHotelInput()">
                <img class="search-icon" src="assets/icons/filters/search.svg" alt=""><strong
                class="d-inline-block mb-2 text-primary">Nombre del hotel</strong>
                <i [hidden]="!displayHotelSearch" class="fa fa-caret-down float-right"></i>
              </a>
            </div>
            <div *ngIf="displayHotelSearch" class="row text-center">
              <input type="text" class="form-control col-12 col-md-12 col-lg-12 col-xl-6" id="inputSearch" [(ngModel)]="inputSearch"
                     placeholder="Ingrese el nombre del hotel">
              <div class="text-center col-12 col-md-12 col-lg-12 col-xl-5">
                <button class="btn btn-primary btn-custom-style button-search" (click)="getHotel()">Aceptar</button>

              </div>
            </div>
          </div>
        </div>
        <!--<div class="card d-sm-none d-none d-md-none d-lg-block">-->
        <div class="card">
        <div class="card-body filters-cards">
            <div class="row display-block">
              <a href="#" (click)="displayStars()">
                <img class="search-icon" src="assets/icons/filters/star_blue.svg" alt=""><strong
                class="d-inline-block mb-2 text-primary">Estrellas</strong>
                <!--<i [ngClass]="(displayStarsFilter==true)?'fa fa-caret-up':''"></i>-->
                <i [hidden]="!displayStarsFilter" class="fa fa-caret-down float-right"></i>
              </a>
            </div>
            <div *ngIf="displayStarsFilter">
              <div class="row display-block">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" [checked]="arrayStars.length==0" (click)="changeStars($event)">
                    <strong>Todas las estrellas</strong>
                  </label>
                </div>
              </div>
              <div class="row display-block" *ngFor="let number of [5,4,3,2,1]">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="{{number}}" (change)="starsSelected(number)" [checked]="!selectedAll && arrayStars.includes(number)">
                    <img class="star-icon-filter" *ngFor="let i of arrayBuild(number)"
                         src="assets/icons/filters/star.svg" alt="">

                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-9">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 margin-custom-cards" *ngFor="let hotel of hotels">
        <img class="card-img-right flex-auto d-md-block col-12 col-sm-4 col-md-4 col-lg-3"
             data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
             default="assets/images/hotels/default.jpg" src="assets/images/hotels/{{hotel.image}}"
             data-holder-rendered="true">

        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-0 text-primary">{{hotel.name}}</strong>

          <div class="row icons-padding">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 custom-padding" *ngFor="let number of [0,1,2,3,4,5]">
                  <img *ngIf="hotel.stars>number" src="assets/icons/filters/star.svg" class="img-custom-size-stars">
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <img *ngFor="let amenity of hotel.amenities" class="col-1 col-sm-2 col-md-2 col-lg-3 col-xl-1 img-custom-size-amenities custom-margin"
                     src="assets/icons/amenities/{{amenity}}.svg" alt="">
              </div>
            </div>
          </div>


        </div>
        <div class="card-body d-flex flex-column border-dotted col-md-3 justify-content-center">
          <h6 class="text-center custom-weight-font">Precio por noche por habitación</h6>
          <div class="text-center">
            <h4 class="mb-0 price-color d-inline custom-weight-font">
                ARS
            </h4>
            <h2 class="price-color d-inline"><strong>{{hotel.price}}</strong></h2>
          </div>
          <div class="button-hotel text-center">
            <button class="btn btn-primary text-center btn-custom-style">Ver Hotel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


